@model MovieShop.Core.Models.MovieResponseModel


<div class="card mb-4 shadow bg-light">
    <!--Tag helpers-->
    <a asp-controller="Movies" asp-action="Details" asp-route-id="@Model.Id">
        <img src="@Model.PosterUrl" onerror="this.src='https://picsum.photos/id/237/200/300'" class="img-fluid" alt="@Model.Title" />
    </a>
</div>